{%load static%}<!--Permitir arquivos estáticos para o CSS-->

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> <!--Ícone no navegador-->
    <link rel="stylesheet" href="{%static 'CSS/styles.css' %}"> <!--CSS-->
    <title>Menu</title>
</head>
<body>
    <h1>Página inicial</h1>
    <h2>Visualizar saldo</h2>
    
    
    <form action="/saldo/", method="POST">
        {% csrf_token %} <!-- SEGURANÇA DOS DADOS-->
        {{form_menu}}
        <button type="submit">Listar</button>
    </form>

    <!--
    {%if senha%}
        <h2>{{senha_form}} inserida</h2>
    {%endif%}

    {%if login%}
        <h2> {{login_form}} inserido</h2>
    {%endif%}
    -->
    
</body>
</html>